body {
    font-family: monospace;
    /* width: 100vh;
    height:100vh; */
    background-image: url("/views/assets/background.jpg");
    background-size: cover; /* or "contain" depending on what you want */
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    
    padding:0;
  }

.navbar-brand {
    font-family: cursive;
}